<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('partials/head') %>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('partials/navigation') %>

        <main
            class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
        >
            <section>
                <h1 class="display-1">About</h1>
                <p>
                    Apasionado del mundo de la programación, diseño y desarrollo de páginas web tanto Fronted como Backend(NodeJS), domino programación lenguaje de marcado HTML, lenguaje de diseño CSS, con conocimiento de varios framework de CSS, como Bootstrap, Sass. Programación en Javascript, conocimiento de varios motores de plantillas como: Pug, Ejs, etc...y dominio de CMS como WordPress, Shopify, etc...
                    
                    Conocimientos de Informática Forense, ipsum dolor sit amet consectetur adipisicing elit.
                    Laudantium necessitatibus assumenda ducimus quidem
                    voluptates ipsa adipisci corrupti quam numquam nesciunt
                    autem ipsum ea commodi natus, iusto, cupiditate voluptate
                    ullam sit sunt amet. Ab sequi amet in impedit porro magni
                    eligendi atque debitis nobis. Eum, unde repellendus? Quaerat
                    natus asperiores ex laudantium officia modi, aut dolore et
                    assumenda sequi laboriosam impedit dolorum vitae quisquam
                    omnis iusto cumque commodi quis non consequatur voluptatem
                    perferendis! Rerum, atque. Laboriosam accusantium maiores
                    eligendi reiciendis sequi corporis, iure blanditiis odit
                    officia nam. Suscipit exercitationem quae delectus vel
                    deleniti at veniam ducimus totam error sint consequatur
                    magni et culpa, commodi ex. Omnis, dolor deleniti? Doloribus
                    dolorum mollitia enim at voluptate incidunt magnam eum
                    veniam praesentium, labore, amet hic expedita impedit
                    cupiditate temporibus eligendi totam accusamus, nemo
                 
                </p>
            </section>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
